@font-face {
  font-family: 'JacksonAmor';
  src: url('JacksonAmor.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SSShinb7Regular';
  src: url('SSShinb7Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ReciaSerifDisplay';
  src: url('./ReciaSerifDisplay-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}